{{ define "chat_widget.html" }}
<!-- chat_widget.html provides chat functionality to pages -->
<div id="chat">
  {{ if .User.Token }}
  {{ else }}
  <a id="login" href="javascript:tavrnLogin.doLogin()">log in to chat</a>
  {{ end }}
  <div id="chatOutput">
  </div>
</div>
<!-- begin chat widget code --->
<script type="text/javascript" src="//endchan.xyz/.static/ajax.js"></script>
{{ if .ChatID }}
  <script type="text/javascript" src="//widgets.tavrn.gg/js/chat.js?site=gitgudtv&id={{ .ChatID }}&w=300&h=250" id="chat_js"></script>
{{ else }}
  <script type="text/javascript" src="//widgets.tavrn.gg/js/chat.js?site=gitgudtv&id=1&w=300&h=250" id="chat_js"></script>
{{ end }}
<!-- end chat widget --->
{{ end }}
