{{define "footer.html"}}
  <div class="footer bg dark twilight">
    <div class="wrapper small">
      <a href="https://sapphire.moe"><div class="footer-logo"></div></a>
      <ul class="footer-icons">
        <li><a href="https://twitter.com/gitgud_tv/"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/SapphirePraxical/"><span class="fa fa-facebook"></span></a></li>
        <li><a href="https://twitch.tv/SapphirePraxical/"><span class="fa fa-twitch"></span></a></li>
        <li><a href="https://discord.gg/sduqrRT"><span class="fa fa-commenting"></span></a></li>
        <li><a href="https://gitgud.io/Sapphire/"><span class="fa fa-gitlab"></span></a></li>
      </ul>
      <br>

      <center>
        Powered By <a href="//gitgud.io/jeff/waveguide/">WaveGuide</a><br>
        Copyright 2018 <a href="//sapphire.moe/">Sapphire Praxical LLC</a> a <a href="//mixtape.moe/donate/">user supported</a> <a href="//gitgud.io/Sapphire">open source</a> company
      </center>
      <div class="container full space-top">
        <div class="container quarter collapse">
          <p></p>
        </div>
        <div class="container quarter collapse">
          <ul class="list">
            <h4>Sapphire</h4>
            <li><a href="http://status.sapphire.moe/">Status</a></li>
            <li><a href="https://discord.gg/sduqrRT">Discord</a></li>
            <li><a href="https://developers.sapphire.moe/">Developers</a></li>
          </ul>
        </div>
        <div class="container quarter collapse">
          <ul class="list">
            <h4>Resources</h4>
            <li><a href="https://developers.sapphire.moe/opensource/">Open Source</a></li>
            <li><a href="https://accounts.sapphire.moe/app/users/feedback">Feedback</a></li>
            <li><a href="https://sapphire.moe/tos/">Terms</a></li>
          </ul>
        </div>
        <div class="container quarter collapse">
          <ul class="list">
            <h4>Company</h4>
            <li><a href="https://blog.sapphire.moe/">Blog</a></li>
            <li><a href="https://sapphire.moe/company/">About</a></li>
            <li><a href="https://sapphire.moe/privacy/">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{{end}}
