{{define "index.html"}}
{{ template "header.html" . }}
{{ template "navbar.html" . }}

<div class="container full dropitdown space-top">
  {{ if .User.Token }}
    <div class="container full text-center">
      <div class="button blue rounded icon labeled"><a href="/upload/"><i class="fa fa-upload"></i>Upload Video</a></div>
      <div class="button blue rounded icon labeled"><a href="/stream/"><i class="fa fa-camera"></i>Stream Video</a></div>
      <div class="divider"></div>
    </div>
  {{ end }}
  <div class="header text-center">Recent Uploads</div>
  <div class="file-list">
    {{ range .Videos }}
      <div class="item">
        <!-- img src="https://my.mixtape.moe/rioxyn.png" -->
        <div class="content" style="width: 100%">
          <a href="/v/{{ .VideoID }}/">{{ .Title }}</a>
          <div style="float: right">
            <input type="text" class="url-copy copy-input" value="http://gitgud.tv/v/{{ .VideoID }}" readonly>
            <div class="button gray copy icon"><i class="fa fa-copy"></i></div>
            <div class="button green rounded icon labeled"><a href="/v/{{ .VideoID }}/"><i class="fa fa-play"></i>Play</a></div>
          </div>
          <div style="height: 10px"></div>
          <!-- div class="button purple rounded icon labeled"><i class="fa fa-pencil"></i>Edit</div>
          <div class="button red rounded icon labeled"><i class="fa fa-trash"></i>Delete</div -->
          <p>
            <strong>Uploaded:</strong> {{ FormatDate .UploadedAt }} -
            <strong>Size:</strong> ?? -
            <strong>Views:</strong> ?? -
            <strong>Bandwidth:</strong> ?? MB</p>
        </div>
      </div>
    {{ end }}
  </div>
  <!-- if count of streamers if more than zero then -->
  <div class="header text-center">Streamers Online</div>
  <div class="file-list">
    {{ range .Streams }}
      <div class="item">
        <img src="{{ .ThumbnailURL }}">
        <div class="content" style="width: 100%">
          <a href="/watch/?u={{ .ID }}"> {{.Username}} </a>
          <div style="float: right">
            <input type="text" class="url-copy copy-input" value="http://gitgud.tv/watch/?u={{ .ID }}" readonly>
            <div class="button gray copy icon"><i class="fa fa-copy"></i></div>
            <div class="button green rounded icon labeled"><a href="http://gitgud.tv/watch/?u={{ .ID }}"><i class="fa fa-play"></i>Watch</a></div>
          </div>
          <!--div style="height: 10px"></div -->
          <!-- div class="button purple rounded icon labeled"><i class="fa fa-pencil"></i>Edit</div>
          <div class="button red rounded icon labeled"><i class="fa fa-trash"></i>Delete</div -->
          <!-- p>
            <strong>Uploaded:</strong> {{ FormatDate .UploadedAt }} -
            <strong>Size:</strong> ?? -
            <strong>Views:</strong> ?? -
            <strong>Bandwidth:</strong> ?? MB</p -->
        </div>
      </div>
    {{ end }}
  </div>
</div>

{{ template "footer.html" . }}
{{end}}
