{{define "index.html"}}
{{ template "header.html" }}
<a href="/upload/"><h3>Upload Video</h3></a>
<a href="/stream/"><h3>Stream Video</h3></a>
<h3> Recent Uploads </h3>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Upload Date</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Videos }}
    <tr>
      <td></td>
      <td><a href="/v/{{ .VideoID }}/">{{ .Title }}</a></td>
      <td>{{ FormatDate .UploadedAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
<h3> Streamers Online </h3>
<div class="streamers">
  {{ range .Streams }}
  <div class="stream">
    <a href="/watch/?u={{ . }}"> {{.}} </a>
  </div>
  {{ end }}
</div>
{{ template "footer.html" }}
{{end}}
