{{define "stream.html"}}
{{ template "header.html" . }}
{{ template "navbar.html" . }}
{{ if .User.UserID }}
<video id="cam" autoplay>
</video>
<div>
  stream url:
  <pre>rtmp://ingest.gitgud.tv/waveguide</pre>
  stream key:
  <pre id="streamkey"> </pre>
</div>
<script type="text/javascript">
  var ajax = new XMLHttpRequest();
  ajax.open("GET", "/wg-api/v1/authed/stream-url");
  ajax.onreadystatechange = function() {
    if (ajax.readyState == 4 && ajax.status == 200) {
      var info = JSON.parse(ajax.responseText);
      var e = document.getElementById("streamkey");
      e.appendChild(document.createTextNode(info.streamkey || "no stream key available"));
    } 
  };
  ajax.send(null);
</script>
<div>
  <a target="_blank" href="/watch/?u={{.User.UserID}}">Watch</a>
</div>
{{ end }}
{{ template "stats.html" . }}
{{ template "log.html" . }}
{{ template "footer.html" . }}
{{end}}
