{{define "video.html"}}
{{ template "header.html" . }}
{{ template "navbar.html" . }}
{{ template "chat_widget.html" . }}
{{ template "canned_player.html" . }}
<!-- move chat below player, can't change the order of the above two lines for some reason -->
<script type="text/javascript">
  {{ if .ChatID }}
  const chatID = "{{ .ChatID }}";
  {{ else }}
  /* fallback value */
  const chatID = "5";
  {{ end }}

  /** change ChatWidget as needed */
  const ChatWidget = tavrnChat;

  let tggChat = new ChatWidget(chatID);
  {{ if .User.Token }}
  tggChat.setAccessToken("{{ .User.Token }}");
  {{ end }}
  tggChat.getMessages();
</script>

{{ template "footer.html" . }}
{{end}}
