{{define "video.html"}}
{{ template "header.html" }}
{{ template "navbar.html" }}
<div id="player">
</div>
<script type="text/javascript">
  /** webtorrent webseeds */
  setTimeout(function() {
    var wg = window.guide;
    var player = wg.VideoPlayer("player");
    var webseeds = [];
    {{ range .Video.WebSeeds }}webseeds.push("{{.}}");
    {{ end }}
    player.SetInfo("{{ .Video.TorrentURL }}", webseeds, function() { player.Start(); });
  }, 100);
</script>
{{ template "footer.html" }}
{{end}}
